In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
coders = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas
coders_df = pd.read_csv(coders, encoding = "iso-8859-1", low_memory = False)
coders_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Inspect all columns
coders_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
new_df = coders_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
new_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampPostSalary', 'BootcampRecommend',
       'ChildrenNumber', 'CityPopulation', 'CodeEventBootcamp', 'CountryLive',
       'EmploymentField', 'EmploymentStatus', 'Gender', 'HasChildren',
       'HoursLearning', 'Income', 'JobRoleInterest', 'SchoolDegree',
       'SchoolMajor'],
      dtype='object')

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns

yesno_df = new_df.replace({0: "No", 1: "Yes"})

yesno_df.tail()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
15615,39.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,No,40,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,No,15,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,No,2,18000.0,NaN,bachelor's degree,Graphic Design

In [7]:
# Calculate total number of respondents in survey
len_respondents = len(new_df)
len_respondents

15620

In [8]:
# Extract rows corresponding only to people who attended a bootcamp
attended = yesno_df.loc[yesno_df["AttendedBootcamp"]=="Yes"]
attended

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15539,39.0,Yes,Yes,Yes,Yes,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Self-employed freelancer,female,NaN,15,36000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
15540,24.0,Yes,Yes,Yes,Yes,NaN,No,NaN,more than 1 million,NaN,Kenya,"arts, entertainment, sports, or media",Employed for wages,female,NaN,10,16800.0,NaN,bachelor's degree,Computer Systems Networking and Telecommunicat...
15541,23.0,Yes,Yes,Yes,No,21600.0,Yes,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,NaN,24,42000.0,NaN,master's degree (non-professional),Computer Software Engineering
15593,29.0,Yes,No,NaN,No,NaN,No,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,No,5,200000.0,NaN,bachelor's degree,Accounting
15600,28.0,Yes,Yes,Yes,No,36000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8,200000.0,NaN,bachelor's degree,Marketing

In [9]:
# Calculate average age of attendees
avg_age = attended["Age"].mean()
avg_age

31.066014669926652

In [10]:
# Calculate how many people attended a bootcamp
len_attended = len(attended)
len_attended

953

In [31]:
# Calculate how many attendees hold degrees 

#do we count other than the college degress....?

# Calculate how many attendees hold degrees
attended['SchoolDegree'].unique()
#degrees = df_attended['SchoolDegree'].value_counts()
#degrees filter is list of degree types
degree_filter = ["bachelor's degree", "Ph.D.", "master's degree (non-professional)", "associate's degree", "professional degree (MBA, MD, JD, etc.)"]

#create new column, holds 1 or 0 based on whether school degree value is in degree filter list
attended['HasDegree'] = attended['SchoolDegree'].isin(degree_filter).replace({True:1, False:0})
#has degree = 1 or 0, sum the 1's
degree_count = attended['HasDegree'].sum() 
degree_count

<ipython-input-31-9b584f3bf7e8>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attended['HasDegree'] = attended['SchoolDegree'].isin(degree_filter).replace({True:1, False:0})

637

In [12]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
identification = attended["Gender"].value_counts()
identification

male           496
female         326
genderqueer      6
trans            3
agender          2
Name: Gender, dtype: int64

In [13]:
total_gender = attended["Gender"].count()
total_gender

833

In [14]:
male = attended["Gender"].value_counts()["male"]
male

496

In [15]:
female = attended["Gender"].value_counts()["female"]
female

326

In [16]:
genderqueer = attended["Gender"].value_counts()["genderqueer"]
genderqueer

6

In [17]:
trans = attended["Gender"].value_counts()["trans"]
trans

3

In [18]:
agender = attended["Gender"].value_counts()["agender"]
agender

2

In [19]:
# Calculate percentage of respondents who attended a bootcamp
percentage_attendees = round((len_attended/total_gender)*100,2)
percentage_attendees

114.41

In [20]:
# Calculate percentage of respondents belonging to each gender
percentage_male = round((male/total_gender)*100,2)
percentage_male

59.54

In [21]:
percentage_female = round((female/total_gender)*100,2)
percentage_female

39.14

In [22]:
percentage_genderqueer = round((genderqueer/total_gender)*100,2)
percentage_genderqueer

0.72

In [23]:
percentage_trans = round((trans/total_gender)*100,2)
percentage_trans

0.36

In [24]:
percentage_agender = round((agender/total_gender)*100,2)
percentage_agender

0.24

In [25]:
percentage_othergender = round(percentage_genderqueer + percentage_trans+percentage_agender,2)
percentage_othergender

1.32

In [32]:

# Calculate percentage of attendees with a school degree
percentage_degrees = round((degree_count/len_attended )*100,2)
percentage_degrees

66.84

In [33]:
# Calculate average post-bootcamp salary
avg_salary = round(attended["BootcampPostSalary"].mean(),2)
avg_salary

63740.51

In [34]:
# Create a new table consolodating above calculations
attended_df = pd.DataFrame({"Total # Respondants": [len_respondents], 
                             "Total # Attendees":[len_attended],
                             "Avg Age of Attendees":[avg_age],
                             "Attendees %":[percentage_attendees],
                             "Degrees %":[percentage_degrees],
                             "Male %":[percentage_male],
                             "Female %":[percentage_female],
                             "Other Gender %":[percentage_othergender],
                             "Avgerage Salary After BC":[avg_salary]
                            })

attended_df

,Total # Respondants,Total # Attendees,Avg Age of Attendees,Attendees %,Degrees %,Male %,Female %,Other Gender %,Avgerage Salary After BC
0,15620,953,31.066015,114.41,66.84,59.54,39.14,1.32,63740.51

In [35]:
# Improve formatting before outputting spreadsheet
attended_df = pd.DataFrame({"Total Respondants": [len_respondents], 
                             "Total Attendees":[len_attended],
                             "Avg Age of Attendees":[avg_age],
                             "Percentage of Attendees %":[f'{percentage_attendees}%'],
                             "Degree Holders ":[f'{percentage_degrees}%'],
                             "Male Percentage":[f'{percentage_male}%'],
                             "Female Percentage":[f'{percentage_female}%'],
                             "Percentage of Other Gender":[f'{percentage_othergender}%'],
                             "Avgerage Salary After BC":[f'${avg_salary}']
                            })
attended_df

,Total Respondants,Total Attendees,Avg Age of Attendees,Percentage of Attendees %,Degree Holders,Male Percentage,Female Percentage,Percentage of Other Gender,Avgerage Salary After BC
0,15620,953,31.066015,114.41%,66.84%,59.54%,39.14%,1.32%,$63740.51

In [36]:
# Export to Excel
attended_df.to_csv("output/partone_output.csv", index=False, header=True)